[2021-06-13 20:21] #1611 closed

[2021-06-15 09:54] abelardolg opened #1613 "Mailing list doesn't work"
Please,

Make sure your mailing list works. If it fails, make sure your give us an additional way so that we can send our suggestions.

![image](https://user-images.githubusercontent.com/22522883/122032935-610bff80-cdd0-11eb-94c8-b4253bcc450f.png)

[2021-06-15 10:19] pedrorijo91 commented on #1613
hey @abelardolg , looking at the error message returned, it seems like you are sending a message containing HTML, which is not accepted (as stated in https://git-scm.com/community `Note also that the list only accepts plain-text email; please disable HTML in your outgoing messages.`)

if you are using gmail for instance, see https://smallbusiness.chron.com/turn-off-html-gmail-composer-40114.html o

[2021-06-15 10:19] #1613 closed

[2021-06-15 15:28] HonkingGoose commented on #1498
I've opened a PR upstream at the ProGit2 repository that should re-enable the `.mobi` files. See https://github.com/progit/progit2/pull/1655, once that's merged I'll close this issue.

[2021-06-19 08:23] pedrorijo91 commented on #1498
seems like the PR was already merged right @HonkingGoose ?

[2021-06-19 12:15] HonkingGoose commented on #1498
Yeah, but it's not working... I'm not sure what I need to do to fix it... 😕

[2021-06-19 13:17] HonkingGoose commented on #1498
Turns out https://github.com/progit/progit2/pull/1655 was a partial solution, that is not functional...

So I opened https://github.com/progit/progit2/pull/1656 to fix the bad PR, but I don't know how to get the build to work properly... 😞 If you (or anyone else) can help out, that would be great!

[2021-06-29 18:24] HonkingGoose commented on #1498
ProGit2 is publishing `.mobi` files again! Go to https://github.com/progit/progit2/releases to see the `progit.mobi` files. 😄

The only thing left to do is to verify that `git-scm` picks up the new files correctly when your Heroku build process runs?

By the way, the `progit/progit2` repository now uses a `main` branch, instead of a `master` branch. This shouldn't cause issues as @peff already did

[2021-06-29 18:28] HonkingGoose commented on #1498
The `progit2` repository maintainer has said that they consider providing the `.mobi` files to be very important. So we'll probably continue to provide these files, unless we encounter new issues with the toolchain. 😄

[2021-06-29 19:04] HonkingGoose commented on #1498
We did just migrate ProGit2 from **Travis CI -> GitHub Actions**. Maybe that's breaking something?

[2021-06-29 19:05] peff commented on #1498
Diffing 2.1.308 and 2.1.309, it looks like the release creation now uses https://github.com/ncipollo/release-action, but doesn't pass `artifactContentType`, so the default is `raw`. It's not clear to me if that property can take a comma-separated list like `artifacts` does.

[2021-06-29 19:10] peff commented on #1498
Looks like no. The code seems to [apply a single content-type to every artifact](https://github.com/ncipollo/release-action/blob/a5a057b70732aaff1a5f3e4033950338ef662e7a/lib/Inputs.js#L40-L45). So a fix would probably involve extending that action, and then updating progit2 to make use of the new feature. Yikes.

Even if that happens, it may take a while. I think we should switch to selecting base

[2021-06-29 19:21] peff commented on #1498
Should be fixed by #1615. Running it locally restores the epub and pdf links, and now generates a mobi link, too. :sweat_smile:

[2021-06-29 19:42] peff commented on #1498
OK, with #1615 merged, I kicked off a manual book generation job, purged the cloudflare cache, and now things are looking good: the main https://git-scm.com/book page has three links (epub, pdf, and mobi). So I think we're probably good to close this issue now!

[2021-06-29 19:48] HonkingGoose commented on #1498
Looks good to me on the deployed site as well.

I agree, let's close this issue! 😄

[2021-06-29 19:48] #1498 closed

[2021-06-30 21:50] #1559 closed

[2021-07-05 12:04] akmalick opened #1620 "The Monitor Button overflows the monitor"
### URL for broken page

https://git-scm.com/downloads
https://git-scm.com

### Problem

The page UI for above two urls seems to be broken. If any Windows user visits either of them he/she will notice that the monitor button overflows the monitor itself, as can be seen in the image below :

![image](https://user-images.githubusercontent.com/5765159/124464937-6bf3f780-ddb2-11eb-8b77-79fb957db59e.pn

[2021-07-05 12:29] peff commented on #1620
Hmm, yeah, I can see the same thing if I  I think it was never intended to break across two lines of text. In the Linux and Mac buttons, it's short enough to stay as one line and looks nicer. I wondered if shorter versions strings (e.g., `2.1.0`) would make a difference, but they seem to wrap for me, as well (the problem is the word "Windows" is just longer).

Of the two solutions you showed, remo

[2021-07-05 14:16] akmalick commented on #1620
I'm more than glad to raise a PR. I believe it is more appropriate to get rid of the redundant version from the button. I tried removing it and it looks nice :

![image](https://user-images.githubusercontent.com/5765159/124481998-7c15d200-ddc6-11eb-9523-962d6e9672e0.png)

This would mean I no longer have to disturb the styling/font-size and at the same time ensure that there are no redundant ui el

[2021-07-15 18:16] #1620 closed

[2021-09-26 04:11] dima522 opened #1632 "Hey @Dibro89, thanks for reporting the issue!"
Hey @Dibro89, thanks for reporting the issue!

It seems to be possible to reproduce the error using other SO (mac OS X on my case). I'll try to have a better look at this still today

_Originally posted by @pedrorijo91 in https://github.com/git/git-scm.com/issues/1129#issuecomment-362327326_

[2021-09-26 13:15] #1632 closed

[2021-10-07 17:19] asifyet opened #1637 "git config --global http.cookiefile "%USERPROFILE%\.gitcookies" powershell -noprofile -nologo -command Write-Output ".googlesource.com`tTRUE`t/`tTRUE`t2147483647`to`tgit-asifyet.gmail.com=1//01w-OYIANf78PCgYIARAAGAESNwF-L9IrgjBQDu9DRPA00cGCPlpy-Hc-jo2_M51j-mxAHthYsE_EqiHS5K_yrl8RNXRaAURAXkw" >>"%USERPROFILE%\.gitcookies""
### Which download is failing?

git config --global http.cookiefile "%USERPROFILE%\.gitcookies"
powershell -noprofile -nologo -command Write-Output ".googlesource.com`tTRUE`t/`tTRUE`t2147483647`to`tgit-asifyet.gmail.com=1//01w-OYIANf78PCgYIARAAGAESNwF-L9IrgjBQDu9DRPA00cGCPlpy-Hc-jo2_M51j-mxAHthYsE_EqiHS5K_yrl8RNXRaAURAXkw" >>"%USERPROFILE%\.gitcookies"

### Problem

git config --global http.cookie

[2021-10-07 17:21] RAk47 opened #1638 "Weitr"
### Which download is failing?

R

### Problem

A

### Operating system and browser

Beta

### Steps to reproduce

E3

### Other details

[code]

[2021-10-07 21:05] muhamadhafizy1991 commented on #1498
![Screenshot_2021-10-08-05-04-11-82_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/92123873/136462061-b356ae36-4202-4efe-a6a8-f951e55da5b9.jpg)
Block block block all

[2021-10-07 21:06] muhamadhafizy1991 opened #1639 "Muhamadhafizy1991"
### URL for broken page

### Problem

### Operating system and browser

### Steps to reproduce

### Other details

[2021-10-07 21:06] #1639 closed, assigned to nobody

[2021-10-09 13:20] adsingh14 commented on #1421
Hi there! I would also like to contribute.

[2021-10-12 20:16] Annabanana420 commented on #1638
Bugs

[2021-10-14 08:05] adsingh14 commented on #1421
I've followed all steps and downloaded only 'en' locale book. I ignored after 'OR' commands because those were slower.

[2021-10-14 14:09] adsingh14 commented on #1421
@jnavila  I've re-run commands. Only 'Complete list of all commands' page is now working which is enough for making the website responsive. Now, I just want to know how to run search offline ?

[2021-10-19 18:26] adsingh14 commented on #1421
Shall I upload responsive layout of current website ?

[2021-10-20 10:56] adsingh14 commented on #1421
I got an issue, `media-query` is not working after I continue to code on local space.

[2021-10-20 21:52] peff commented on #1421
You probably need to run `rake search_index` to build the index (you'll want to make sure you've imported book and manpages (`local_index`, etc) so you have something to put in the search index.

[2021-10-24 18:45] sivaraam opened #1642 "Broken link to a ProGit book page presented via search"
Searching for keyword presented a result which turned out to be a broken link.

### URL for broken page
https://git-scm.com/book/en/Appendix-A:-Git-in-Other-Environments-Git-in-IntelliJ-/-PyCharm-/-WebStorm-/-PhpStorm-/-RubyMine

### Problem
When I searched for "intelliJ" in the search bar, I got the result for "Appendix A: Git in Other Environments - Git in IntelliJ / PyCharm / WebStorm / PhpStor

[2021-10-24 18:53] sivaraam opened #1643 "Home page site has layout issues when zoomed"
When zoomed, the text in the site's homepage appears bigger which in turn results in layout issues.

### URL for broken page
https://git-scm.com/

### Problem
While I'm viewing the site's homepage, when I zoom increase the zoom for the page to say 133% the text size increases which is natural. As a sad consequence though some layout issues popping up. See the attached screenshot below for referenc

[2021-10-27 18:53] #1643 closed, assigned to nobody

[2021-10-28 04:04] adsingh14 opened #1645 "About options aren't working on disabling Javascript."
### URL for broken page
https://git-scm.com/about/

### Problem

### Operating system and browser

OS: **Windows 10** (64-bit)

Browsers:
- Google Chrome - **v95.0.4638.54** (Official Build) (64-bit)
- Mozilla Firefox - **v93.0** (64-bit)
- Microsoft Edge - **v95.0.1020.30** (Official build) (64-bit)

### Steps to reproduce

1. Visit https://git-scm.com
2. Disable Javascript [^1] [^2]
3. Click Abo

[2021-10-28 04:28] adsingh14 opened #1646 "Dropdowns not working when 'Javascript disabled'."
### URL for broken page

- https://git-scm.com/docs/git
- https://git-scm.com/book/en/v2/Getting-Started-About-Version-Control#

### Problem

After open any of book and manual page, dropdown doesn't open as shown in attached images (**blue colored**).

![image](https://user-images.githubusercontent.com/35252877/139186174-f3de2487-b47a-49a4-b3ec-00486eaea705.png "Manual")
![image](https://user-imag

[2021-10-30 19:38] C-Lion commented on #1642
I think I understand the issue but it is not clear from your information which of the above needs to be corrected or  what exactly you want changed.
Seems like a lot of code just to display a URL.
So just confirming this is not just a  "correct the URL on the page issue"?
I have basic Ruby skills & will try the correct rake command to see if I can get this set up locally.

[2021-11-02 15:26] peff commented on #1642
Right. The problem is that the URL is not found in this repository at all. It is in content which is imported from another repository (the book code). Hence the complexity. A cron job pulls in updated book content into the sql database nightly, and then we run a search index on that content, putting the result into the elasticsearch database. And then incoming search requests query the elasticsear

[2021-11-12 13:56] adsingh14 commented on #1421
@peff  I think this issue has been resolved.

[2021-11-12 14:06] adsingh14 commented on #1333
Every link is working for Windows setup. I think this issue should **closed**.

[2021-11-12 14:08] adsingh14 commented on #1368
@pedrorijo91  I think this issue should be **closed**.

[2021-11-12 15:38] adsingh14 commented on #1637
@peff Can you please look into this spam issue ?

(I will remove this comment after you close this issue. If you don't mind, please avoid using my username. 🙂)

[2021-11-12 16:03] #1637 closed

[2021-11-12 16:04] #1368 closed

[2021-11-12 16:05] peff commented on #1333
Closing as stale / outside the scope of the git-scm.com site.

[2021-11-12 16:05] #1333 closed

[2021-11-12 16:06] #1421 closed

[2021-11-12 16:48] adsingh14 commented on #1316
Strange ! It's working on local server. Same with `500` error screen.
![404](https://user-images.githubusercontent.com/35252877/141502823-f057d8fe-ab8c-4f0c-93ca-bdaf2777dee6.png)

@peff I want to fix this issue but don't know how to provide relative path in an `.html` file ?

[2021-11-19 04:17] 4nn1l2 opened #1649 "Dead links for courses"
### URL for broken page

https://git-scm.com/doc/ext

Courses
Git: Mastering Version Control
https://www.packtpub.com/application-development/git-mastering-version-control

Git: Version Control Made Easy
https://www.packtpub.com/product/git-version-control-made-easy/9781787287136

### Problem

There are three courses in the external links, two of which redirect to rotten links

### Operating syste

[2021-11-19 15:12] peff commented on #1649
Thanks for bringing this up. We can drop them, or if they've just moved URLs, we can update them. @jnareb do you have an updated link for the course you're involved in?

[2021-11-25 19:10] phil-blain opened #1650 "New responsive menu does not work on some older mobile browsers"
### URL for broken page

For example https://git-scm.com/docs/git-config
### Problem

- On my phone, tapping the sidebar menu does not work (nothing happens)
- On my computer, the space for the menu appears, but the menu is at the top of the page so I have to scroll up to see anything (see screenshots below).

### Operating system and browser

mobile: iOS 12.1 / Google Chrome 70.0.3538.75 and Safa

[2021-11-25 19:11] phil-blain commented on #1650
/cc @adsingh14 since I see you worked on the responsive design (thanks a lot! it's great to be able to read the docs on  mobile with the new design :)

[2021-11-26 06:30] adsingh14 commented on #1650
I'm aware of that. Those links on top is a temporary change.

[2021-11-26 06:57] adsingh14 commented on #1650
Well, it looks like you're using an outdated web browser. Current Apple Store offers Chrome version 96.0.4664.53.

That's a temporary change. I'm am aware of that.

[2021-12-01 17:15] peff commented on #1650
I think this should be fixed by #1651 (which is merged, but it will be a few hours before caches are fully turned over).

I couldn't reproduce this. Is it still an issue for you after #1651?

[2021-12-01 17:55] peff commented on #1316
I think the issue is that in the production site, we end up with asset files tagged with their hash, like:

[code]

whereas in a development environment, it will process the scss on the fly as necessary from the source files. (But I'm pretty ignorant of rails asset pipeline stuff in general).

In the error view page we use some rails magic to get the right name: https://github.com/git/git-scm.com/

[2021-12-02 12:13] lnlp opened #1652 "Please add mentioning of winget installation method on https://git-scm.com/downloads"
### Problem

_I did not find any other suitable place on GitHub to post this so forgive me if this is not the correct place._
_(I have no intention for subscribing to a mailing list for providing this feedback)._

Since recently the Microsoft [**winget** cli for Windows Package Mager](https://docs.microsoft.com/en-us/windows/package-manager/winget/) is available.

https://git-scm.com/downloads and

[2021-12-04 01:27] Djqwak opened #1653 "https://m.facebook.com/recover/code/?ars=facebook_login_pw_error&em%5B0%5D=ahmedraheem704%40yahoo.com&rm=send_email&hash=AUbvAv_4JWfrmpmYqbI&_rdr"
### URL for broken page

### Problem

### Operating system and browser

### Steps to reproduce

### Other details

[2021-12-04 09:20] #1653 closed

[2021-12-04 15:31] pedrorijo91 commented on #1652
thanks for letting us know of this new package manager @lnlp ! would you be interested in contributing by adding this detail yourself?

[2021-12-04 15:32] pedrorijo91 commented on #1652
it should be around this file https://github.com/git/git-scm.com/blob/main/app/views/downloads/download_windows.html.erb

[2021-12-04 16:44] phil-blain commented on #1650
Yes, this works correctly now.

Yes, it's still an issue. I tried also on Safari and Chrome on iOS 13, same behaviour. I can't use install the latest version of Chrome as it requires iOS 14...

[2021-12-05 21:12] lnlp commented on #1652
No thanks. I have no experience with Ruby and its tooling so this will take too much of my time.

[2021-12-10 09:58] adsingh14 commented on #1652
You'll see it on the website till next week. I'm working on it.

[2021-12-10 10:00] adsingh14 commented on #1652
Just this file? I could add a few lines.

[2021-12-10 23:22] pedrorijo91 commented on #1652
yes @adsingh14  :) thanks for looking into this

[2021-12-11 08:58] adsingh14 commented on #1652
Do you think adding an official link will look better though it's multistep process like installing WSL on Windows?

[2021-12-12 13:03] lnlp commented on #1652
Not sure if the question was for me, but the question is not all clear.

[2021-12-13 18:08] pedrorijo91 commented on #1652
sorry @adsingh14 , didn't fully get your question

[2021-12-13 18:18] adsingh14 commented on #1652
Shall I add just a single link on windows download page?

[2021-12-13 18:58] adsingh14 commented on #1652
@pedrorijo91 I didn't get the proper flow how to install it ?

[2021-12-18 19:44] blindmanyo44 opened #1656 "Git/git"
### URL for broken page

### Problem

### Operating system and browser

### Steps to reproduce

### Other details

[2021-12-20 10:23] #1656 closed

[2021-12-20 11:39] #1652 closed

[2021-12-21 05:01] adsingh14 commented on #1316
@peff I tested the bogus page and css didn't render as expected. It works on local space.

I was checking Ruby doc and reached to [this section](https://guides.rubyonrails.org/layouts_and_rendering.html#rendering-raw-file). As mentioned this is the preferred but insecure way for error pages.

Yes, we didn't utilise `public/errors.html.erb` which is secure way. Therefore, we've two ways to resolve

[2021-12-21 05:13] adsingh14 commented on #1343
@pedrorijo91 it seems that issue author has not added the links.

[2021-12-21 06:02] blindmanyo44 opened #1661 "Screenshot (Dec 20, 2021 11:01:48 PM)"

[2021-12-21 22:14] #1661 closed

[2021-12-21 22:15] pedrorijo91 commented on #1343
true. would you be interested in doing it @adsingh14 ? (or were you planning but forgot @amishscientist ?)

[2021-12-22 02:55] amishscientist commented on #1343
Well the computer I was using at the time was a raspberry pi 3.  When I
tried to set up the project it would crash so I never got around to it.  If
someone else would like to do it, go ahead.  While I have a raspberry pi 4
now it is still very slow.

On Tue, Dec 21, 2021 at 4:15 PM Pedro Rijo ***@***.***> wrote:

[2021-12-22 03:33] adsingh14 commented on #1343
I would like to pass it to the author. I supposed that several stale issues needs to be 'closed'. :)

[2021-12-22 04:27] amishscientist commented on #1343
If someone else wants to do it is fine with me.

On Tue, Dec 21, 2021 at 9:33 PM Amandeep Singh ***@***.***>
wrote:

[2021-12-26 06:57] aaronfranke commented on #1467
I'm on a new device, Windows 11 for ARM (64-bit ARM64). Starting with Windows 11, it can run x86_64 apps, so 64-bit x86 is preferred over 32-bit x86 (although it would be nice if there were native ARM builds available).

My user agent in Firefox is this:

    Mozilla/5.0 (Windows NT 10.0; rv:95.0) Gecko/20100101 Firefox/95.0

And my user agent in Chrome is this:

    Mozilla/5.0 (Windows NT 10.0;

[2021-12-28 11:13] pedrorijo91 commented on #1467
thanks for exposing the issue @aaronfranke . i also think there may be little to do here. user-agent is just an effort to provide the best version, but there will always be edge cases

furthermore https://github.com/git/git-scm.com/pull/1660 is removing the auto download feature

[2021-12-28 18:12] adsingh14 opened #1662 "Singularization/Pluralization GUIs count."
### URL for broken page

https://git-scm-pr-1660.herokuapp.com/download/gui/android

### Problem

When we open Android GUIs page, it has just single entry/item but the phrase is incorrect.
Currently, it is: `1 Android GUIs are shown below`
Expected: `1 Android GUI is shown below` or don't show the phrase.

### Operating system and browser

OS: Windows 10 Pro
Browser: MS Edge Version 96.0.1054.62 (

[2021-12-29 11:01] pedrorijo91 commented on #1662
yeah, i don't think we ever worried about that case, looking into https://github.com/git/git-scm.com/blob/3b22d7483cee007d4550c563a99b15a2e39ba4ab/app/views/downloads/guis/index.html.erb#L25

probably because Android/iOS are "[new](https://github.com/git/git-scm.com/commit/44b9431a890d03cd95a3cdc331471b2fb2271291)" categories, and before that we'd have multiple GUIs for each

[2021-12-29 17:33] adsingh14 commented on #1662
Alright! I'm closing this issue because someone will create an Android GUI and some of us will revert the changes.

[2021-12-29 17:33] #1662 closed

[2022-01-04 11:06] #595 closed

[2022-01-14 07:45] erl93 opened #1665 "Bug"
### Which download is failing?

2.34.1

### Problem

can't install

### Operating system and browser

Linux

### Steps to reproduce

-

### Other details

_No response_

[2022-01-14 08:08] #1665 closed

[2022-02-01 03:49] gubasza opened #1669 "460befd693d1eca69213211011113c5bb02e11b6"
https://github.com/angular/angular/commit/460befd693d1eca69213211011113c5bb02e11b6

[2022-02-01 03:49] #1669 closed

[2022-02-04 18:31] gubasza opened #1671 "gubas2549@gmail.com"
http://basggggg.blogspot.com/2022/02/google-google.html Google ให้บริการคุกกี้เพื่อวิเคราะห์การเข้าชมไซต์นี้ ข้อมูลเกี่ยวกับการใช้งานไซต์ของคุณจะถูกแบ่งปันกับ Google เพื่อจุดประสงค์ดังกล่าว ดูรายละเอียด.ตกลง

คีย์เวิร์ด

ติดตาม

GOOGLE FI

ปกป้องการโทร Google Fi ของคุณด้วยการเข้ารหัสตั้งแต่ต้นทางถึงปลายทาง

28 ต.ค. 2564

อ่าน 2นาที

ดี

แดเนียล ชาค

ผู้จัดการผลิตภัณฑ์ Google Fi

￼

สิ่งที่คุณแบ่งป

[2022-02-04 18:31] #1671 closed

[2022-03-04 03:34] sayzlim commented on #1344
Hi everyone, just want to circle back the conversation to see if it makes sense to explore advertising revenue to fund the project at the current stage. You can use ESLint as a reference by setting up a collective at https://opencollective.com/eslint

We can also send the earnings to Software Freedom Conservancy through PayPal or Wire. Based on the current site traffic, the amount of **potential r

[2022-03-20 07:59] TheDechev opened #1675 "All Windows links are broken"
### Which download is failing?

All the Windows links are broken, including:
- [32bit installation](https://github.com/git-for-windows/git/releases/download/v2.35.1.windows.2/Git-2.35.1.2-32-bit.exe)
- [64bit installation](https://github.com/git-for-windows/git/releases/download/v2.35.1.windows.2/Git-2.35.1.2-64-bit.exe)
- [32bit portable](https://github.com/git-for-windows/git/releases/download/v

[2022-03-20 10:35] TheDechev commented on #1675
Issue seems to be resolved, thanks

[2022-03-20 10:35] #1675 closed

[2022-04-06 08:41] meysam101 commented on #1313
`okoko`

[2022-05-03 18:47] syronTill opened #1683 "☠️💀SyronTill💀☠️ 🎶🎼Studio72- GjL-Entertainment🎼🎶"
### URL for broken page

 https://studio72gjlcom.wordpress.com

### Problem

### Operating system and browser

### Steps to reproduce

### Other details

[2022-05-15 10:40] LordSachse opened #1686 "LordSachse"
### URL for broken page

### Problem

### Operating system and browser

### Steps to reproduce

### Other details

[2022-05-15 10:42] LordSachse opened #1687 "LordSachse"
https://github.com/git/git-scm.com/issues/1686

[2022-05-15 11:45] #1687 closed

[2022-05-15 12:40] LordSachse opened #1688 "https://github.com/LordSachse/Huawei-P30-Pro-/commit/bdaab66d7b3b11b51d14f321f27f288d43abef4f"
### URL for broken page

### Problem

### Operating system and browser

### Steps to reproduce

### Other details

[2022-05-15 12:54] LordSachse opened #1689 "CSR-IPS-Sky"
https://github.com/LordSachse/Huawei-P30-Pro-/commit/bdaab66d7b3b11b51d14f321f27f288d43abef4f

[2022-05-15 13:41] #1689 closed

[2022-05-15 13:42] #1688 closed

[2022-05-15 15:10] LordSachse opened #1690 "Huawei P30 Pro"
https://github.com/LordSachse/Huawei-P30-Pro-/tree/bdaab66d7b3b11b51d14f321f27f288d43abef4f/git%40github.com%3ALordSachse

[2022-05-15 15:11] LordSachse opened #1691 "LordSachse"
https://github.com/git/git-scm.com/issues/1690#issue-1236314784

[2022-05-15 15:24] LordSachse commented on #1691
content://media/external_primary/downloads/18670

[2022-05-15 15:25] LordSachse opened #1692 "Huawei P30 Pro"
https://github.com/LordSachse/Huawei-P30-Pro-/issues/9

[2022-06-07 20:09] #1683 closed

[2022-06-21 05:41] Morganov opened #1699 "Automatic publishing of ProGit book is not working."
Before migration from TravisCI to GitHub Actions each release of the ProGit book was published at git-scm.com/book/ including translations.

Now, this process seems to be broken - the new changes are not published.

Here is an example:

The PR is merged https://github.com/progit/progit2/pull/1759 and the new version of the book is released https://github.com/progit/progit2/releases/tag/2.1.346
It

[2022-06-21 06:44] jnavila commented on #1699
In fact, the publishing on git-scm.com web site has nothing to do with Github Actions. IIRC, this is a crontab job running each night on the dyno. @pedrorijo91 @ttaylorr could you check the status of the dyno cron scripts?

[2022-06-21 07:28] peff commented on #1699
I think the cronjobs can't hit GitHub's API because the API token they have is an old one belonging to me, and is expired. Ideally there would be some token belonging to a bot account. Barring that, somebody more active should probably generate a token (with locked-down permissions!) and stick it in `GITHUB_API_TOKEN` in Heroku's config vars (under "Settings", though I think "heroku config" from t

[2022-06-22 17:17] ttaylorr commented on #1699
@pedrorijo91 do you have access to do this? Otherwise, I can take a look into it myself.

[2022-06-22 17:43] Arthur-Milchior opened #1700 "three dots are replaced by … (unique character) in commands"
### URL for broken page

https://git-scm.com/docs/gitrevisions#Documentation/gitrevisions.txt-Theem82308203emthree-dotSymmetricDifferenceNotation

### Problem

In short code sample imported from git documentation, `'...'` are transformed into a single character three dots instead of the actual three separate dots that should be used for the three-dot symmetric difference notation.

As far as I can

[2022-06-22 23:35] peff commented on #1700
Fix sent upstream: https://lore.kernel.org/git/YrOmsA04FZae89be@coredump.intra.peff.net/

[2022-06-22 23:35] peff commented on #1700
I'm going to close the issue, as I think there's nothing to be done in this repo. When the fix makes it into the next Git version, we'll pick it up on the site. Thanks for reporting!

[2022-06-22 23:35] #1700 closed

[2022-06-27 16:43] ttaylorr commented on #1699
Done.

[2022-06-27 16:43] #1699 closed

[2022-06-28 07:29] pedrorijo91 commented on #1699
sorry @ttaylorr i've been out for the past week. i guess this will solve the heroku apps issue as well

[2022-07-12 17:27] mandip1213 opened #1705 "git-scm.com doesnot redirect to https: when manually surfed http: on edge"
### URL for broken page
http://git-scm.com

### Problem
 Although git-scm uses https but it doesnot redirects to https://git-scm.com when manually entering http://git-scm.com

### Operating system and browser
OS: windows 10
browser:
Microsoft Edge | 103.0.1264.49

### Steps to reproduce
Enter `http://git-scm.com` in the url bar and hit enter.

### Other details

[2022-07-14 21:21] peff commented on #1705
I turned on the Cloudflare option (for both git-scm.com and git-scm.org). Let's see if anybody screams.

[2022-07-15 08:44] Morganov commented on #1650
Unfortunately, the side menu doesn't work on the actual versions of the mobile browsers iOS.
The issue is reproducible on the following browsers:

- Safari (iOS 15.5)
- Firefox 102.1 (12709)
- Chrome 103.0.5060.63

[2022-07-16 09:13] adsingh14 opened #1707 "Brand icons information update. Facebook (now Meta) icon needs to be updated with permission."
### URL for broken page

### Problem

I reached to Meta brand page where they asked for permission to use their new logo.
 Please open this [link](https://www.facebook.com/brand/resources/meta/company-brand/) and scroll to 'How to submit a brand permissions request'.

### Operating system and browser

Windows 10
Firefox browser

### Steps to reproduce

- Open home page
- Scroll to bottom, 'Compani

[2022-07-26 17:16] mwisnicki opened #1709 "git-subtree documentation is missing?"
No sign of git-subtree[1] on this page: https://git-scm.com/docs/git#_git_commands

[2022-07-26 21:24] peff commented on #1705
Well, nobody seems to have complained after almost 2 weeks, so let's go with it! I think we can consider this closed.

[2022-07-26 21:24] #1705 closed

[2022-07-26 21:28] peff commented on #1709
I think this is working as designed. `git-subtree` is not an official git command, but rather carried in the `contrib/` section of git.git. So it is upstream Git's documentation that chooses not to include it in the regular command list.

We _could_ build the `subtree` manpage ourselves and put it on the site, but I think I'd rather follow upstream Git's lead here no deciding what to include. (The

[2022-07-26 21:28] #1709 closed

[2022-07-26 21:30] peff opened #1710 "time to update ruby?"
I noticed today that ruby-2.7.3 doesn't build on debian unstable anymore, because the openssl dependency has moved on. Looks like ruby-3.1.2 is the latest stable release. A trivial replacement of the versions in `Gemfile` and `.ruby-version` _seems_ to work OK, but it probably needs somebody to poke around at the result and make sure everything works as expected.

[2022-07-27 14:09] yotamcons opened #1711 "Enhancement - Video pages do not link to one another - continuous watch requires multiple clicks"
### URL of pages that could use the change

1.  https://git-scm.com/video/what-is-version-control2.
2.  https://git-scm.com/video/what-is-git3.
3.  https://git-scm.com/video/get-going

### Problem

Going over the four videos in the page, after I finished watching each I needed to get back to the videos home page, and then click into the next video.
This can be made easier by simply adding a link t

[2022-07-28 00:20] johnpaxton opened #1712 "CSS word-break property on <code> elements allows line breaks"
### URL for broken page
https://git-scm.com/book/en/v2/Git-Branching-Basic-Branching-and-Merging#_basic_merging

### Problem

The `code` element has its CSS property `word-break` set to `break-all`. This permits line breaks *within* a `code` element. In the paragraph immediately following the `h3` linked to in the URL, the word "hotfix" has a line break between "ho" and "tfix".  This happens in se

[2022-07-29 20:09] peff commented on #1712
Hmm, yeah, I don't see it in my default view, but if I tweak the font size, I can get it to wrap. And indeed, it's ugly.

Looks like it was changed in 2445646d0715d3716bd51633af7ac33ad0c1f493 as part of #1644. The goal there was making the site overall more responsive. I would imagine it _could_ help on super-constrained mobile screens. But breaking in the middle of a word is pretty bad, and the `

[2022-07-29 20:51] #1712 closed

[2022-07-29 20:58] adsingh14 commented on #1650
@Morganov Hey ! Thanks for the update. I don't have any Apple device but will add some lines.
@peff Any suggestion on this? Is there any collaborative platform to solve this issue practically or I add some lines ?

[2022-07-31 10:07] pedrorijo91 commented on #1536
sorry, totally missed your reply. not sure what's the current status of MinGit, but if you see it's still a good solution, feel free to create a MR @pratikpc :)

[2022-07-31 10:08] pedrorijo91 commented on #1577
closing as it's a bit out of our control

[2022-07-31 10:08] #1577 closed

[2022-07-31 10:11] pedrorijo91 commented on #1645
wondering if making the website usable with JS disabled is a goal or if we want to accept this limitation? same for #1646

thoughts @peff @jnavila ?

[2022-07-31 10:17] pedrorijo91 commented on #1650
closed by #1714

[2022-07-31 10:17] #1650 closed

[2022-07-31 10:18] pedrorijo91 commented on #1707
how should we proceed in this case @peff ? not sure if we can do it, or needs to be the Git / Software Freedom Conservancy doing the req?

[2022-07-31 10:22] pedrorijo91 commented on #1711
thanks for the suggestion @yotamcons ! you are totally right, it could be way more user friendly.

i don't think at this moment there's the concept of order in the videos, but maybe we can just hardcode the link to other video since this list is not updated for a long time.

would you be interested in contributing with a MR @yotamcons ?

[2022-07-31 12:29] yotamcons commented on #1711
Hi Pedro,
Could you contact me privately to understand what it would require? I'm not familiar with Ruby or web development (other than basic HTML)

[2022-07-31 16:57] peff commented on #1645
In an ideal world, everything works without javascript or at least degrades gracefully. That said, the About page has been this way for probably a decade. While it may bug some privacy nuts (like me) who have javascript disabled by default, it's probably not the worst thing we do there (I think being behind Cloudflare means people using TOR nodes, etc, will occasionally get annoying DDoS challenge

[2022-07-31 17:04] peff commented on #1707
TBH, I'm not sure they would grant permission, as it implies endorsement and we have no real relationship with them. I also thought that they mainly used a hacked-up version of Mercurial!

I suspect anybody could ask permission on behalf of this site, but it probably would be stronger coming from the Conservancy PLC. I'm not on it anymore, but @ttaylorr is (though note he's going to be offline for

[2022-07-31 21:49] #1645 closed

[2022-07-31 21:49] #1646 closed

[2022-07-31 21:50] #1649 closed

[2022-07-31 23:28] Arthur-Milchior commented on #1700
Thanks for taking it into account. Congrats for finding how to solve it, I admit I did take a quick look and decided not to try to understand how to install and test the whole pipeline.

[2022-08-07 14:34] pedrorijo91 commented on #1711
hey @yotamcons ! sorry for taking some time.

so the page where the video listing is rendered is https://github.com/git/git-scm.com/blob/main/app/views/doc/videos.html.erb, and the page that renders each video is https://github.com/git/git-scm.com/blob/main/app/views/doc/watch.html.erb

looking at the way we link each video on the listing it seems we could hardcode something in the `watch.html.erb

[2022-08-22 22:50] Djstiers opened #1720 "github"
### URL for broken page

### Problem

### Operating system and browser

### Steps to reproduce

### Other details

[2022-08-22 23:31] #1720 closed

[2022-08-22 23:33] Djstiers opened #1721 "hello world"
### URL for broken page

### Problem

### Operating system and browser

### Steps to reproduce

### Other details

[2022-08-22 23:44] #1721 closed

[2022-08-23 00:19] Djstiers opened #1722 "hello world"
### URL for broken page

### Problem

### Operating system and browser

### Steps to reproduce

### Other details

[2022-08-23 00:23] #1722 closed

[2022-08-23 20:46] #1707 closed

[2022-08-31 16:58] yotamcons commented on #1711
@pedrorijo91 Unfortunately this seems like to much learning I'll need to do for that, sorry i wouldn't be able to help

[2022-09-10 23:25] samccone opened #1729 "duplicate dt sections cause duplicate anchor tags to be generated breaking linking"
### URL for broken page

https://git-scm.com/docs/merge-strategies#Documentation/merge-strategies.txt-ours

### Problem

There are two or more dt elements on the page with the same ID each one generates an anchor link that collides.

The following generated docs all had colliding link generation (which are now all fixed with this CL)

[code]

`#Documentation/merge-strategies.txt-ours`

### Operati

[2022-09-11 18:56] samccone commented on #1729
Further digging shows that this is a somewhat known problem
https://github.com/asciidoctor/asciidoctor/issues/3147

The solution implemented here only works inside of index_l10n_doc which means for all non-internationalized docs the headers will still collide.

[2022-09-11 20:42] samccone commented on #1729
The change has been updated to now account for both codepaths!

[2022-09-17 20:27] samccone commented on #1729
Merged, marking as fixed.

[2022-09-19 22:38] samccone commented on #1729
[code]

Shows that this has not been deployed - @pedrorijo91  please let me know if there is anything else needed on my die.

[2022-09-20 07:50] pedrorijo91 commented on #1729
i think the documentation page is not re-generated frequently, when only new versions are out. can you confirm @peff ?

[2022-09-20 21:40] peff commented on #1729
Yes, the scheduled rebuilds are dependent only on new content in the upstream repository. If the actual import code changes, somebody has to kick off `heroku run rake preindex RERUN=1`. I just did that. It will take a while to finish, plus there's a caching layer in front of the site that may take up to 4 hours to time out.

[2022-09-20 22:01] peff commented on #1729
OK, the build is done, and just because I'm impatient, I purged the cloudflare cache. You should be able to see the new anchors on the site now.

[2022-09-27 19:57] jonhp opened #1734 "online book and 2nd edition do not match"
Although the online book says that it is the 2nd edition, it isn't. It is, I guess, "second edition plus". While this might be obvious to those working on the book, it is not to the new comer. Best I can tell, there have been a lot of changes since the printed "second edition", at least the one I have. I am just suggesting that some text or warning be added to the initial web page linked below tha

[2022-09-27 21:30] peff commented on #1734
Yeah, I'd agree that text could be updated. There are indeed a lot of changes: https://github.com/progit/progit2/compare/2.0.0...main (though I'm not 100% sure that the 2.0.0 tag represents what went to press).

[2022-10-02 02:38] #1734 closed

[2022-10-05 02:12] ttaylorr commented on #1710
I think that we use few-enough exotic Ruby features that this upgrade poses fairly little risk. We could do a conservative roll-out and look at errors on the new build, but I doubt that anybody is looking at those errors closely enough that such an approach would catch any errors.

I think that a safe-enough approach would be something on the order of running the site locally, with an updated `Gem

[2022-10-05 15:01] peff commented on #1710
You'd think. And yet here are 115 patches that say otherwise: #1736. To be fair, a lot of that is because I split out the results of `rubocop --autocorrect` into individual warnings (which I think makes it easier to understand what's going on, and certainly to bisect if need be). But there were definitely some changes needed to make everything run.

[2022-10-05 19:28] #1710 closed

[2022-10-06 10:51] dscho commented on #942
👋

I got interested in this project ever since [it was announced that Heroku ended its free tier](https://lore.kernel.org/git/YkcmtqcFaO7v1jW5@nand.local/) that we use in https://git-scm.com/. We currently have a sponsor, but it would make most sense to spend that money more wisely _and_ making https://git-scm.com/ a nice show case for how powerful GitHub Pages are.

Thank you @spraints for starti

[2022-10-06 12:30] peff commented on #942
Just a few thoughts, as somebody who has thought about this off and on in the intervening 5 years:

  - I think we'll probably want custom scripts rather than driving things from the top with Jekyll, just because of the complexity of the manpage and book imports. That doesn't mean we might not use something like Jekyll for the templating, but I think we'd end up driving the other updates with a sc

[2022-10-06 19:05] sxlijin commented on #942
I think you'd have to do it by setting up a workflow on git/git that triggers a workflow here; I'm not aware of any mechanism to subscribe to a different repo and I don't see one by skimming the [workflow triggers docs](https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows).

It would be pretty easy to schedule an hourly or nightly job on git-scm to check for tag pushes

[2022-10-06 19:35] jnavila commented on #942
I guess the guts of the processing of sources of progit and the manpages can be kept the same. One roadblock, however, is that instead of feeding a DB, we want to spit files, add content, commit and push, while being in a github workflow. Not sure, this is easy...

The other issue as @dscho pointed out, is that unlike progit, the git manpages are versioned, at least in English, and need to be flat

[2022-10-06 21:30] dscho commented on #942
It's not possible right now with GitHub workflows as-are, not unless you convince the Git maintainer to integrate a workflow whose sole beneficiary is git-scm.com.

However, there is a _very_ easy way to do this: register a webhook with git/git pointing to an Azure Function that uses a PAT to triggers the `workflow_dispatch` workflow in git-scm.com. It's no wizardry, really, it is very similar to

[2022-10-07 07:28] chriscool opened #1739 "git config doc doesn't render includes properly"
### URL for broken page

https://git-scm.com/docs/git-config#_variables

### Problem

Instead of rendering the content of the included files (which describe configuration variables), only the filenames are displayed:

![image](https://user-images.githubusercontent.com/208954/194496282-a87210dc-4fa1-49e3-8280-008bcfaaee6e.png)

### Operating system and browser

Linux with Firefox or Chrome.

### St

[2022-10-07 07:34] chriscool commented on #1739
Note that `git help -m config` and `git help -w config` properly show the doc (in man and html format respectively). So I don't think that the problem comes from Git.

[2022-10-07 13:09] derrickstolee commented on #1739
I was just coming here to say this! Thanks for reporting it, @chriscool.

[2022-10-07 18:03] #1739 closed

[2022-10-10 19:53] peff commented on #942
My biggest wish for the import/build system is that I be able to run it locally, and that the results be available in the filesystem for local inspection. And ideally also intermediate results, like manpages that have been rendered via asciidoctor but not yet Jekyll-ified (or whatever template / presentation system we use).

The reason is that most of our bugs (including the one I introduced a few

[2022-10-13 12:55] nnsee opened #1741 "Logos are not shown in /downloads/logos"
### URL for broken page

https://git-scm.com/downloads/logos

### Problem

Logos are not shown - code for rendering them is shown instead.

### Operating system and browser

Linux / Firefox 105.0.3

### Steps to reproduce

Open the page.

[2022-10-13 16:29] pedrorijo91 commented on #1741
could it be due to https://github.com/git/git-scm.com/pull/1736 @peff ?

[2022-10-13 16:31] pedrorijo91 commented on #1741
we also had https://github.com/git/git-scm.com/pull/1731 recently, but IIRC everything was fine after deployment

[2022-10-13 17:12] #1741 closed

[2022-10-18 15:16] oceanzhang01 opened #1743 "remove submodule then reset，create empty folder，so all the files in submodule are gone !"
I am so sad,I remove a  submodule and  then reset，git create a empty submodule folder ，so all the files in submodule are gone !
how can i find my lost file?

[2022-10-18 15:22] #1743 closed

[2022-10-22 10:43] G00Dway commented on #1081
didnt work :(

[2022-10-25 13:25] FabriceSalvaire opened #1746 "Revert commit e74a1ec that remove CodeReview"
I am asking to revert commit e74a1ec

I rewrote the installation doc, and it should be easily installable on Linux, where Python and a C compiler is nearly available by default.

However, I need help on Windows and OSX to write an installation procedure or make an installer.

https://github.com/FabriceSalvaire/CodeReview

[2022-10-25 14:34] pedrorijo91 commented on #1746
hey @FabriceSalvaire . feel free to submit a PR adding the GUI client to the list :)

There are some instructions here: https://github.com/git/git-scm.com#adding-new-gui
if you still need some help let us know so that we can help you on that